@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>DnD Let It Roll is a companion app for Dungeons and Dragons the TTRPG that allows DMs to share information on Races, Classes, and Background with the player. It also allows
    the DM to add homebrew elements for each of those categories.</p>
</div>
